body {
  line-height: 1.3;
  word-spacing: 0;
  letter-spacing: 0;
  text-align: left;
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  -epub-writing-mode: horizontal-tb;
  -webkit-margin-start: 1.5em;
  -webkit-margin-end: 0.8em;
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
  font-family: "Noto Serif TC Medium";
}
.origin {
  color: #000000;
  font-size: 110%;
  font-weight: normal;
  text-indent: 2em;
}
.origin1 {
  color: #000000;
  font-size: 110%;
  font-weight: normal;
  text-indent: 3em;
}

.comment {
  color: #222222;
  font-size: 110%;
  font-weight: normal;
  -webkit-margin-after: 2em;
  -webkit-margin-start: 1.9em;
}
.title1 {
  font-size: xx-large;
  font-weight: bold;
  letter-spacing: 0.25em;
}
.title2 {
  color: #000000;
  font-size: 110%;
  font-weight: normal;
}
.note {
  color: #069;
  font-weight: normal;
  font-size: 85%;
  -webkit-margin-start: 0.5em;
  -webkit-margin-end: 0.5em;
}
.note1 {
  text-decoration: #555555 wavy underline
}
.note2 {
  color: #069;
  font-weight: normal;
  font-size: 85%;
  -webkit-margin-start: 2.8em;
}
.note3 {
  color: #069;
  letter-spacing: 0;
  font-weight: normal;
  font-size: 85%;
  margin: 0em 0.5em 0em 2em;
  text-decoration: #555555 overline;
  -webkit-margin-start: 2.8em;
}
.biaohao {
  color: #000000;
  font-weight: normal;
  font-size: xx-small;
}
