html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-size: 110%;
  line-height: 170%;
  word-spacing: 0;
  letter-spacing: 0;
  text-align: left;
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  -epub-writing-mode: horizontal-tb;
  -webkit-margin-start: 1.5em;
  -webkit-margin-end: 0.8em;
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
  font-family: biaodian, "Noto Serif SC Medium";
}
.origin {
  color: #000000;
  font-weight: normal;
}

.comment {
  color: #000000;
  font-weight: normal;
}
.title1 {
  font-size: x-large;
  font-weight: bold;
  letter-spacing: 0.25em;
}
.title2 {
  color: #000000;
  font-size: 110%;
}
.note {
  color: #069;
  font-weight: normal;
  font-size: 85%;
  -webkit-margin-start: 0.5em;
  -webkit-margin-end: 0.5em;
}
.note1 {
  text-decoration: #555555 wavy underline
}
.note2 {
  color: #069;
  font-weight: normal;
  font-size: 85%;
}
.note3 {
  color: #069;
  letter-spacing: 0;
  font-weight: normal;
  font-size: 85%;
  margin: 0em 0.5em 0em 2em;
  text-decoration: #555555 overline;
  text-decoration-thickness: 1%;
  -webkit-margin-start: 2.8em;
}
.biaohao {
  color: #000000;
  font-weight: normal;
  font-size: xx-small;
}

#text {
  text-align: justify;
  width: 100%;
  padding: 0;
  margin: 0;
}
@media screen and (max-device-width: 480px) {
  #text {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 87.36%;
    padding-left: 1.82%;
    padding-right: 1.82%;
  }
}
p:before{
  content: '';
  display: block;
  margin-top: -15px;
  height: 15px;
  visibility: hidden;
}
.gg-link {
  visibility: hidden;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: rotate(-45deg) scale(var(--ggs,1));
  width: 8px;
  height: 2px;
  background: currentColor;
  border-radius: 4px
}

.gg-link::after,
.gg-link::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 8px;
  height: 10px;
  border: 2px solid;
  top: -4px
}

.gg-link::before {
  border-right: 0;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  left: -6px
}

.gg-link::after {
  border-left: 0;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  right: -6px
}
p:hover .gg-link {
  visibility: visible;
}
